<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Shine Appium" allow-return-values="true" verbose="1"
	preserve-order="true">
	<!-- parallel = "tests" thread-count="10" -->

	<test name="shineSauceLabs" parallel="false" preserve-order="true">
		<classes>
		
			<class name="com.shineSauceLabs.Main.MenuItems" />
            
		</classes>
	</test>
	
</suite>
